.flex h1{
    font-size: 39px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding-left: 100px;
}
.flex p{
    color: white;
    padding-left: 100px;
    font-family: 'Courier New', Courier, monospace;
}
.flex button{
    font-size: 30px;
    border: 5px solid #38b9d8;
    background-color: transparent;
    color: white;
    margin-left: 150px;
    margin-top: 10px;
    border-radius: 10px;
}
.flex button:hover{
    background-color: #38b9d8;
}
.img img{
    width: 380px;
}
.principal{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20%;
}
.cards img{
    width: 80px;
}
.cards h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.cards p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.cards{
    text-align: center;
    width: 200px;
}
.cards:hover{
    border: 2px solid #38b9d8;
}
.cabecalho{
    display: flex;
}
.informacoes img{
    width: 250px;
}
.informacoes p{
    color: white;
    margin-top: 80px;
    font-size: 25px;

}
.informacoes{
    width: 80%;
    background-color: rgba(0, 0, 0, 0.192);
    display: flex;
    margin: 80px;
    margin-top: 25%;
    border-radius: 10px;  
}

body{
    background-color: #212121;
}